header {
    background-color: #2A98FF;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    padding: 0;

}

.listContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.listContainer button{
    background-color: rgba(255, 255, 255, 0.301);
    border: 0.3px solid rgba(47, 52, 56, 0.171);
    border-radius: 5px;
    padding: 5px 12px;
    color: #29293d;
    display: flex;
    font-size: larger;
    margin: 0 0.9rem;;

}
.listContainer li{
    padding: 0.3rem 1rem;
    /* border: 0.3px solid rgba(47, 52, 56, 0.144); */
    border-radius: 5px;
    margin: 0 0.9rem;
    background-color: rgba(255, 255, 255, 0.048);
    font-weight: bold;

}
.listContainer a{
    color: rgb(43, 44, 44);

}
.nameCommerce{
    color: #29293d;
    font-size: 1.7rem;
    font-weight: bolder;
    font-variant: small-caps;
    letter-spacing: 1.5px;
}
.nameCommerce span{
    color: azure;
}