//----------------NavBar-----------

header {
    background-color: #2A98FF;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 100px;
    }
}
.menu{
    li{
        display: inline-block;
        position: relative;
    }
    a{
        display: block;
        padding: 15px 20px;
        color: #29293d;
        font-weight: bold;
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva,;

    }
}

.menu li:hover .categories{
    visibility: visible;
    opacity: 1;
}

.listContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nameCommerce{
    color: #29293d;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 1.5px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    span{
        color: azure;
    }
}

.cardWidget{
    display: flex;
    margin-top: 5px;
    button{
        font-size: 1.8rem;
        padding: 5px;
        margin: 8px 0px 8px 130px;
        color: #29293d;
    }
    a{
        color: #29293d;
    }
    span{
        font-weight: 700;
        padding-top: 3px ;
    }

}


//----------item count-------
.itemCount{
    width: 150px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 0.3rem ;
    border-radius: 20px;
    outline: none;
    background-color: #dbd9d980;
    margin: 8px 0;

    button{
        font-size: larger;
        color: #1492CC;
        padding: 0 4px;
    }
}
    
.itemCountContainer{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        padding: 4px 1px;
        text-align: start;
        font-weight: 300;
        font-size: 0.9rem;
        color: #919999;

    }
    > button{
        border: solid 1px #72BC0F;
        font-size: 1.1rem;
        color: #72BC0F;
        border-radius: 20px;
        padding: 6px 1rem;
    }
}
.itemCountContainer > button:hover {
    background-color: #72BC0F;
    transition: all 0.4s;
    color: aliceblue;
}

//------------ItemList-------
.itemList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prodTitle{
    text-align: start;
    width: 80%;
    margin: auto;
    padding: 30px 0 10px 0;
}
.cont{
    border: solid 1px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
   
}
// -------------card----------------    
.itemContainer{
    border: solid 1px rgba(78, 39, 39, 0.562);
    width: 260px;  
    margin: 1rem;
    height: 28rem;
    display: grid;
    grid-template-areas: 'img'
                        'title' 
                        'desc'
                        'button' ;
    grid-template-rows: 55% 10% 22% 13%;                    
}


.itemImg{
    grid-area: img;
}
.itemTitle{
    grid-area: title;
    margin-top: 14px;

}

.itemDescription{
    grid-area: desc;
    width: 85%;
    margin: auto;
    border-top: solid 0.6px rgba(0, 0, 0, 0.637);
    padding: 8px 3px;
    p{
        text-align: start;
        font-weight: 300;
    }
}
.itemButton{
    grid-area: button;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 0.7rem 0;
    border-top: solid 0.6px rgba(0, 0, 0, 0.637);

    a{
        background-color: #1492CC;
        color: aliceblue;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 500;

    }
    span{
        font-weight: bolder;
        font-size: 1.1rem;
        padding: 3px 10px;
    }
}

//-----------------Detail-----------------
.detailContainer{
    width: 53%;
    display: flex;
    margin: auto;
    border: solid 1px #29293d5e;
    margin-top: 70px;
    margin-bottom: 80px;
    height: 400px;
}
.detailDescriptionContainer{
    display: grid;
    grid-template-areas: 'detailTitle'
                        'amount'
                        'descript'
                        'detBtn';
    grid-template-rows: 23% 20% 30% 27%;
}
.detailTitle{
    grid: detailTitle;
    padding: 20px;
    font-size: 1.5rem;
    color: #29293d;
    p{
        font-weight: 300;
        font-size: 0.9rem;
        color: #C0C0C0;
    }
}
.detailAmount{
    grid-area: amount;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .detPrice{
        span{
            font-size: 2.5rem;
            color: #72BC0F;   
        }
        p{
            font-weight: 300;
            font-size: 0.9rem;
            color: #C0C0C0;
            padding: 10px 1px;
            text-align: start;
        }
        .totalPrice{
            color: #29293d;
        }
    }
}
.detailDescription{
    grid-area: descript;
    width: 85%;
    margin: auto;
    p{
        text-align: start;
        color: #919999;
    }
    h4{
        padding-bottom: 8px;
        color: #29293d;
    }
}
.detailButton{
    grid-area: detBtn;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a{
        border: solid 2px #2b2b5e;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 5px;
        color: #2b2b5e;
    }
    h4{
        color: #919999;
    }
}
.detailButton > a:hover{
    background-color: #2b2b5e;
    color: aliceblue;
}

//------------Cart-----------

.cartContainer{
    width: fit-content;
    margin: 20px auto;
    min-height:  70vh;

    h1{
        margin: 30px 0 10px 0;
    }

    th{
        font-size: 1.3rem;
        width: 20%;
        background:#29293d52 ;
    }
    td{
        padding-top: 30px;
        font-weight: 500;
        font-size: 1.2rem;
        img{
            width: 130px;
        }
        svg{
            font-size: 1.7rem;
            color: rgb(230, 38, 38);
        }
    }

    .totalPrice{
        margin: 1.5rem 16px 2rem 16px ;
        display: flex;
        justify-content: space-between;
        text-align: end;
        font-weight: 700;
        font-size: 1.1rem;
        
        button{
            font-weight: 700;
            font-size: 1.1rem;
            border: solid 2px #29293d;
            padding: 0 5px;
            border-radius: 3px;
        }
        span{
            padding: 5px 10px;
        }
    }
}
.totalPrice > button:hover{
    background-color: #2b2b5e;
    color: aliceblue;
    transition: all 0.3s;
}

.checkOutDiv{
    text-align: end;
    margin: 8px 16px;
}
.checkOutBtn{
    background-color: #2A98FF;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 4px; 
}
.checkOutBtn:hover{
    background-color: #2b2b5e;
}

//-----------Form--------------
.formH1{
    margin: 20px 0;
    
}

.formCont{

    background-color: #e7e7e7;
    width: 45%;
    margin: 50px auto;
    padding: 40px 0 ;

    .formInput{
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: auto;
        padding-top: 20px;
        
        
        label{
            text-align: start;
            font-weight: 500;
            font-size: 1.2rem;
        }
        input{
            border: solid 2px #29293d;
            height: 1.8rem;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.658);
        }
    }
}
.btnsForm{
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 30px auto;
    
    .submitBtn button{
        background-color: #2A98FF;
        padding: 8px 10px;
        color: aliceblue;
        border-radius: 4px;
    }
    .resetBtn{
        background-color: #2b2b5e;
        color: aliceblue;
        padding: 5px 10px;
        border-radius: 4px;
    }
    .backBtn{
        border: 2px solid #2b2b5e;
        color: #2b2b5e;
        padding: 5px 10px;
        border-radius: 4px;
    }
}
a .backBtn
button .resetBtn
.submitBtn{
    padding: 40px;
}
//-----------Loader------------
.loader{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

//----------Thanks--------------
.thanksDiv{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 3rem;
        color: #29293d;
        margin: 30px;
    }
    a{
        color: #2b2b5e;
        border-radius: 4px;
        padding: 6px 12px;
        border: 2px solid #2b2b5e;
    }
}

//------------Footer------------
.footer{
    background-color: #29293d;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}